*{
    margin: 0;
    padding: 0;
  }
  html,body,#root{
    height: 100%;
  }
  .app{
    height: 100%;
    width: 600px;
    margin: 0 auto;
    
  }
 
  .ant-layout-sider-children{
      background: #fff;
  }
  .ant-layout-content{
      padding: 20px;
  }
  img{
      width: 700px;
      max-width: 80%;
  }